.busqueda{
    grid-column: 1/4;
    grid-row: 4/5;
    .busqProductos{
        font-family: fredoka;
        padding: 20px;
        margin-left: 20px;
        font-size: 40px;
        text-shadow: $sombra;
        color: $color2;
        background-color: $colorPrincipal;
        border-radius: 20px;
        width: max-content;
        box-shadow: $sombra;
    }
    .specProductos{
        ul{
            display: flex;
            justify-content: space-evenly;
            margin: auto;
            > li{
                list-style: none;
                > button{
                    padding: 10px;
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: fredoka;
                    width: max-content;
                    border-radius: 15px;
                    border: 3px solid;
                    border-color: darkgreen;
                    color: $color1;
                    background-color: $colorPrincipal;
                    box-shadow: $sombra;
                }
            }
        }
    }
    .buscarProductos{
        font-size: 30px;
        font-style: oblique;
        font-weight: bolder;
        font-family: fredoka;
        width: 20%;
        padding: 15px;
        margin: 5%;
        border: 10px solid $color2;
        border-radius: 20px;
        background-color: $colorPrincipal;
        color: darkred;
        box-shadow: $sombra;
        text-shadow: 1px 1px 1px black;
        &:hover{
            transform: rotateY(60deg);
            transform: scale(1.25, 1);
            text-shadow: 3px 3px white;
            background-color: rgb(87, 235, 185);
            color: red;
        }
    }
}
@media ($tablet){
    .busqueda{
        display: flex;
        flex-direction: column;
        grid-column: 1/4;
        grid-row: 4/5;
        flex-wrap: wrap;
        .busqProductos{
            font-family: fredoka;
            padding: 20px;
            margin-left: 20px;
            font-size: 50px;
        }
        .specProductos{
            ul{
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                margin: auto;
                > li{
                    list-style: none;
                    margin: 0px 30px;
                    > button{
                        padding: 10px;
                        font-size: 33px;
                    }
                }
            }
        }
        .buscarProductos{
            font-size: 40px;
            font-style: oblique;
            font-weight: bolder;
            font-family: fredoka;
            width: 40%;
            padding: 15px;
            margin: 6%;
        }
    } 
}