.grillaPrincipal{
    background-color: rgb(189, 184, 183);
    background-image: url(../img/Abstract\ Cogs\ Eye\ Future\ Circuit\ Technology\ Security\ System\ Background\,\ Vector\ Illustration_\ Stock\ Vector\ -\ Illustration\ of\ background\,\ engineering_\ 194944347.png);
    background-size: contain;
    background-blend-mode:lighten;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 280px 440px 400px 600px 200px 100px;
    gap: 0px 15px;
}
@media (max-width:1400px){
    .grillaPrincipal{
        display: grid;
        grid-template-rows: 250px 440px 400px 700px 200px 100px;
        align-content: center;
    }
}