.listaProd{
    grid-column: 1/4;
    grid-row: 2/3;
    .productos{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;;
        }
        .titProductos{
            font-size: 90px;
            font-weight: bolder;
            font-family: fredoka; color: $color1;
            padding: 10px;
            border: 18px solid;
            border-style: double;
            border-color: $color2;
            background-color: $colorPrincipal;
            border-radius: 28px;
            box-shadow: $sombra;
        }
        .prod{
            width: 20%;
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
            > fieldset{
                > ol{
                    > li{
                        >a{
                            text-decoration: none;
                            list-style-type: none;
                            &:hover{
                                color: black;
                                font-style: oblique;
                            }
                        }
                    padding: 10px;
                    margin-left: 36px;
                    }
                }
            }  
        }
    }
}