.headDestacados{
    grid-column: 1/4;
    grid-row: 2/3;
    .destacados{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;
            border-radius: 15px;
        }
        .titDestacados{
            @include titulos(90px, $color2, $color1)
        }
        .ingCliente{
            > form{
                font-family: fredoka;
                color: $color2;
                width: 400px; 
                border: 6px solid;
                border-radius: 16px;
                background-color: $colorPrincipal;
                padding: 10px;
                legend{
                    color: $color1;
                }
                label{
                    padding: 20px;
                    .ingreso{
                        font-family: fredoka;
                        color: $color1;
                        padding: 9px;
                        &:hover{
                            padding: 8px;
                            border: 3px solid;
                        border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media ($portatil-g){
    .headDestacados{
        .destacados{
            .titDestacados{
                font-size: 50px;
            }
            .ingCliente{
                > form{
                    width: min-content;
                    > fieldset{
                        width: 260px;
                    }
                }
            }
        }
    }
}
@media ($portatil-c){
    .headDestacados{
        flex-wrap: wrap;
        .destacados{
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 20px;
            align-items: center;
            .logoChico{
                width: 50%;
                transform: translateY(-170px);
            }
        }
        grid-column: 1/4;
        grid-row: 2/3;
    }
}
@media($tablet){
    .titDestacados{
        margin-top: 30px;
    }
}
@media ($cel-g){
    .headDestacados{
        .destacados{
            .titDestacados{
                font-size: 90px;
                color: $color1;
                margin-bottom: 30px;
            }
            .ingCliente{
                > form{
                    width: 580px;
                    > fieldset{
                        width: 90%;
                        font-size: 40px;
                        > label{
                            font-size: 38px;
                            > input{
                                font-size: 25px;
                            }
                            .robot{
                                transform: scale(2);
                                border: 5px solid;
                                margin: 15px;
                            }
                            .ingreso{
                                font-family: fredoka;
                                color: $color1;
                                padding: 5px;
                                font-size: 33px;
                                &:hover{
                                    padding: 8px;
                                    border: 3px solid;
                                border-radius: 10px;
                                }
                            }
                        } 
                    }
                }
            }
        }
    }
}
