.headContacto{
    grid-column: 1/4;
    grid-row: 2/3;
    .contacto{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;
        }
        .titContacto{
            @include titulos(90px, $color2, $color1)
        }
        .mapa{
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
        }
    }
}
