.headServicios{
    grid-column: 1/4;
    grid-row: 2/3;
    .servicios{ 
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start; 
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;
        }
        .titServicios{
            @include titulos(90px, $color2, $color1)
            
        }
        @media ($portatil-g){
            .titServicios{
                font-size: 50px;
            }
        }
        .chat{
            display: block;
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
            fieldset{
                height: 100%;
                > textarea{
                    width: 100%;
                }
                > input{
                    padding: 10px;
                }
                > a{
                    > button{
                        padding: 10px;
                        font-family: fredoka;
                        font-weight: bolder;
                        color: $color1;
                        border-radius: 5px;
                        background-color: $colorPrincipal;
                    }
                }
            
            }
        
        }
    }
}
@media ($portatil-c){
    .headServicios{
        flex-wrap: wrap;
        .servicios{
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 20px;
            align-items: center;
            .logoChico{
                width: 50%;
                transform: translateY(-170px);
            }
        }
        grid-column: 1/4;
        grid-row: 2/3;
}
@media ($cel-g){
    .headServicios{
        .servicios{
            .titServicios{
                font-size: 90px;
                color: $color1;
                margin-bottom: 30px;
            }
            .chat{
                font-size: 35px;
                > fieldset{
                    > input{
                        font-size: 25px;
                    }
                    > a > button{
                        font-size: 35px;
                    }
                }
            }
        }
    }
}   
}
