.headContacto{
    grid-column: 1/4;
    grid-row: 2/3;
    .contacto{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;
        }
        .titContacto{
            @include titulos(90px, $color2, $color1)
        }
        .mapa{
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
        }
    }
}
@media ($portatil-g){
    .headContacto{
        .contacto{
            .titContacto{
                font-size: 50px;
            }
            .mapa{
                > fieldset{
                    width: 260px;
                }
            }
        }
    }
}
@media ($portatil-c){
    .headContacto{
        flex-wrap: wrap;
        .contacto{
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 20px;
            align-items: center;
            .logoChico{
                width: 50%;
                transform: translateY(-170px);
            }
        }
        grid-column: 1/4;
        grid-row: 2/3;
    }
}
@media ($cel-g){
    .headContacto{
        .contacto{
            .titContacto{
                font-size: 90px;
                color: $color1;
                margin-bottom: 30px;
            }
            .mapa{
                > fieldset{
                    font-size: 35px;   
                }
            }
        }
    }
}



