.headProd{
    grid-column: 1/4;
    grid-row: 2/3;
    .productos{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: $sombra;
        }
        .titProductos{
            @include titulos(90px, $color2, $color1)
        }
        @media ($portatil-g){
            .titProductos{
                font-size: 50px;
            }
        }
        .prod{
            width: 20%;
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
            > fieldset{
                > ol{
                    > li{
                        >a{
                            text-decoration: none;
                            list-style-type: none;
                            &:hover{
                                color: black;
                                font-style: oblique;
                            }
                        }
                    padding: 10px;
                    margin-left: 36px;
                    }
                }
            }  
        }
    }
}
@media ($portatil-c){
    .headProd{
        flex-wrap: wrap;
        .productos{
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 20px;
            align-items: center;
            .logoChico{
                width: 100%;
                transform: translateY(-170px);
            }
        }
        grid-column: 1/4;
        grid-row: 2/3;
        .prod{
            width: 100% !important;
            margin: 0px;
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: $sombra;
            > fieldset{
                width: 100%;
                > ol{
                    > li{
                        >a{
                            text-decoration: none;
                            list-style-type: none;
                            &:hover{
                                color: black;
                                font-style: oblique;
                            }
                        }
                    padding: 10px;
                    margin-left: 36px;
                    }
                }
            }  
        }
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
