.logoInicio{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-items: center;
    margin: 0px auto;
    position: relative;
    > img{
        height: 100%;
        box-shadow: $sombra;
        border-radius: 20px;
        animation-name: movlogo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }
@keyframes movlogo{
    0%{transform: scale(1.05);}
    25%{transform: scale(1); opacity: 60%;}
    40%{transform: scale(1.05);opacity: 100%;}
    50%{transform: scale(1.05);opacity: 100%;}
    60%{transform: scale(1.05);opacity: 100%;}
    75%{transform: scale(1); opacity: 60%;}
    100%{transform: scale(1.05);}
}
@media ($portatil-c){
    > img{
        height: 80%;
    } 
}
@media ($tablet){
    > img{
        animation: none;
        height: 95%;
        margin: auto;
        width: auto;
        box-shadow: $sombra;
        border-radius: 20px;
        transform: translateY(-110px);
    }
}

}