.logoInicio{
    grid-column: 1/4;
    grid-row: 2/3;
    justify-items: center;
    margin: 0px auto;
    > img{
        height: 90%;
        box-shadow: $sombra;
        border-radius: 20px;
        animation-name: movlogo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }
    @media (max-width:1000px){
        > img{
            height: 50%;
        } 
    }
@keyframes movlogo{
    0%{transform: scale(1.05);}
    25%{transform: scale(1); opacity: 20%;}
    50%{transform: scale(1.05);opacity: 100%;}
    60%{transform: scale(1.05);opacity: 100%;}
    75%{transform: scale(1); opacity: 20%;}
    100%{transform: scale(1.05);}
}
@media ($tablet){
    > img{
        height: 60%;
        margin: auto;
        width: auto;
        box-shadow: $sombra;
        border-radius: 20px;
        animation-name: mologo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }
}
@keyframes mologo{
        0%{transform: translateY(-180px);}
        100%{transform: translateY(-180px);}
}
@media ($cel-g){
    > img{
        height: 40%;
        margin: auto;
        width: auto;
    } 
}
}