.navIni{
    grid-column: 1/4;
    grid-row: 1/2;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(180deg, aquamarine, transparent);
    .botonesInicio{
        grid-column: 1/2;
        grid-row: 1/2;
        > button{
            margin: 15px 10px;
            padding: 2px;
            border: 3px solid;
            border-radius: 7px;
            border-color: $color1;
            &:hover{
                transform: scale(1.25);
                box-shadow: 4px 4px 8px;
            }
            > a{
                text-decoration: none;
                font-size: 25px;
                font-family: fredoka;
            }
        }
    } 
    .navegadorEnlaces{
        .fa-bars{
            font-size: 30px;
            font-weight: bolder;
            font-size: 50px;
            margin: 10px;
        }
        label ,input{
            display: none;
        }
        > ul{
            display: flex;
            list-style-type: none;
            margin: 15px;
            > li{
                @extend %boton;
                &:hover{
                transform: scale(1.25);
                box-shadow: 4px 4px 8px;
                }
                > a{
                    text-decoration: none;
                    padding: 10px;
                    font-size: 25px;
                    font-family: fredoka;
                    
                }
            }
        }
    }
    .visitenos{
        grid-column: 3/4;
        grid-row: 1/2;
        > h3{
            margin: 15px;
            font-size: 25px;
            font-family: fredoka;
            color: $color1;
        }
        > img{
            width: 50%;
            padding: 15px;
            margin: 0px auto;
            justify-self: center;
        }
    }
}
@media ($portatil-g){
    .navIni{  
        width: 100%;
        .botonesInicio{
            position: absolute;
            top: 50px;
            z-index: 3;
            > button{
                margin: 15px;
                padding: 5px;
                border-radius: 7px;
                &:hover{
                    transform: scale(1.25);
                    box-shadow: 4px 4px 8px;
                }
                > a{
                    text-decoration: none;
                    font-size: 20px;
                    font-family: fredoka;
                }
            }
        }
        .navegadorEnlaces{
            position: absolute;
            > ul > li{
                border: 2px solid;
                > a{
                    margin: 2px;
                    font-size: 20px;
                }
            }
        }
        .visitenos{
            position: relative;
            top: 14px;
            right:-70%;
            >h3{
                font-size: 20px;
                margin: 5px;
            }
        }
        
    } 
}
@media ($portatil-c){
    .navIni{
        .visitenos{
        display: none;
        }
    }
}
@media ($tablet){
    .navIni{
        grid-column: 1/4;
        justify-content: end;
        width: 768px;
        .navegadorEnlaces{
            z-index: 3;
            > input:checked + ul{
                max-height: 350px;
            }
            ul{
                flex-direction: column;
                max-height: 0px;
                overflow: hidden;
            }
            label{
                justify-content: end;
                text-align: end;
                z-index: 2;
                font-weight: bolder;
                display: block;
                &:hover + ul{
                    z-index: 1;
                    position: absolute;
                    right: 0px;
                    background-color: aquamarine;
                    transition: 1s;
                }
            }
            > ul{
                > li{
                    margin: 10px 0px;
                    padding: 1px;
                    &:hover{
                        transform: scale(1);
                    }
                    > a{
                        font-size: 30px;
                    }
                }
            }
        }
        .botonesInicio{
            display: flex;
            margin:15px auto;
            top: 413px;
            left: 200px;
            > button{
                border: 10px double;
                border-color: darkgreen;
                margin: 10px 30px;
                > a{
                    font-size: 30px;
                }
            }
        }
        .visitenos{
            display: none;
        }
    }
}
@media ($cel-g){
    label{
        z-index: 2;
    }
}
