footer{
    grid-column: 1/4;
    grid-row: 6/7;
    .pie{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 40px 0px 20px;
        background-color: lavender;
        border-radius: 10px;
        .pie__0{
            font-style: oblique;
            font-weight: bolder;
        }
        .pie__1{
            font-size: 10px;
            font-weight: bold;
        }
        .pie__2{
            font-style: italic;
            color: $color1;
        }
    }
}
@media ($cel-g){
    footer{
        grid-column: 1/4;
        grid-row: 6/7;
        .pie{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 10px;
            padding: 10px;
            margin: 40px 0px 20px;
            background-color: lavender;
            border-radius: 10px;
            .pie__0{
                font-style: oblique;
                font-weight: bolder;
                font-size: 28px;
            }
            .pie__1{
                font-size: 24px;
                font-weight: bold;
            }
            .pie__2{
                font-style: italic;
                color: $color1;
                font-size: 26px;
            }
        }
    } 
}