.serPri{
    grid-column: 1/4;
    grid-row: 3/4;
    .serviciosPrincipal{
        display: flex;
        justify-content: space-evenly;
        .listServicios{
            > li{
                margin: 40px;
                width: 85%;
                border-radius: 16px;
                box-shadow: 15px 15px 15px black;
                list-style: none;
                padding: 20px;
                font-family: fredoka;
                font-size: 40px;
                color: $color1;
                background-color: $colorPrincipal;
                border-radius: 16px;
            }
        }
        .imgServicios{
            > img{
                width: 40%;
                padding: 15px;
                margin-left: 4%;
                border: 14px solid;
                border-radius: 10px;
                border-color: $color2;
                border-style: double;
                box-shadow: 15px 15px 15px black;
                transition: 2s;
                &:hover{
                    transform: scale(2);
                }
            }
        }
        .descServicios{
            padding: 20px;
            width: 100%;
            height: min-content;
            margin-right: 3%;
            font-family: fredoka;
            font-size: 33px;
            color: $color1;
            background-color: $colorPrincipal;
            border-radius: 16px;
            box-shadow: 15px 15px 15px black;
        }
    }
}
@media ($portatil-c){
    .serPri{
        grid-column: 1/4;
        grid-row: 3/4;
        flex-wrap: wrap;
        .serviciosPrincipal{
            flex-direction: column;
            align-items: center;
            .listServicios{
                margin-bottom: 50px;
                > li{
                    text-align: center;
                    margin: 20px auto;
                    width: min-content;
                    border-radius: 16px;
                    box-shadow: $sombra;
                    list-style: none;
                    padding: 20px;
                    font-family: fredoka;
                    font-size: 30px;
                    color: $color1;
                    background-color: $colorPrincipal;
                    border-radius: 16px;
                }
            }
            .imgServicios{
                justify-items: center;
                > img{
                    width: 30%;
                    margin: 1%;
                    padding: 5px;
                    border: 14px solid;
                    border-radius: 10px;
                    border-color: $color2;
                    border-style: double;
                    box-shadow: $sombra;
                    transition: 2s;
                    &:hover{
                        transform: scale(2.5);
                    }
                }
            }
            .descServicios{
                width: 90%;
                text-align: center;
                margin: 50px 10px;
            }
        }
    }
}