.canalNovedades{
    grid-column: 1/4;
    grid-row: 3/4;
    margin-bottom: 80px;
    .canal__video{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 10px 20px;
        border: 3px solid;
        border-radius: 20px;
        border-color: darkgreen;
        padding: 10px;
        background-color: $colorPrincipal;
        box-shadow: $sombra;
        transition: 2s;
        .canal__video__parr{
            width: 30%;
            color: $color1;
            font-family: fredoka;
            font-size: 30px;
            line-height: 50px;
        }
        .canal__video__res{
            width: 1fr;
            .canal__video__res__enl{
                font-size: 25px;
                list-style: none;
                > li{
                    > a{
                        text-decoration: none;
                        font-family: fredoka;
                    }
                    margin: 10px;
                }
    
            }
        }
        .canal__video__vid{
            height: 340px;
        }
    }
}
@media($portatil-g){
    .canalNovedades{
        .canal__video{
            .canal__video__parr{
                width: 30%;
                font-size: 18px;
                line-height: 30px;
            }
            .canal__video__res{
                width: 1fr;
                .canal__video__res__enl{
                    font-size: 16px;
                    list-style: none;
                    > li{
                        line-height: 28px;
                        margin: 10px;
                    }
        
                }
            }
            .canal__video__vid{
                height: 245px;
                margin: auto 0px;
            }
        }
    }
}
@media($portatil-c){
    .canalNovedades{
        .canal__video{
            .canal__video__parr{
                width: 30%;
                font-size: 18px;
                line-height: 30px;
            }
            .canal__video__res{
                width: 1fr;
                .canal__video__res__enl{
                    font-size: 16px;
                    > li{
                        line-height: 38px;
                        margin: 10px;
                    }
        
                }
            }
            .canal__video__vid{
                height: 166px;
                margin: auto 0px;
            }
        }
    }
}
@media($tablet){
    .canalNovedades{
        .canal__video{
            display: flex;
            flex-direction: column;
            .canal__video__parr{
                width: 100%;
                font-size: 25px;
                line-height: 60px;
            }
            .canal__video__res{
                width: 1fr;
                .canal__video__res__enl{
                    font-size: 25px;
                    > li{
                        text-align: center;
                        > a{
                            line-height: 60px;
                        }
                        margin: 10px;
                    }
                }
            }
            .canal__video__vid{
                height: 350px;
                margin: 0px auto;
            }
        }
    }
}