.publicidad{
    height: 60%;
    font-family: fredoka;
    background-image: radial-gradient(aquamarine 60%, rgb(13, 156, 156));
    display: flex;
    flex-direction: column;
    border: 16px solid;
    border-color: $color1;
    border-radius: 1000px;
    padding: 25px;
    background-color: aquamarine;
    margin: 60px 10px 80px;
    justify-content: center;
    align-items: center;
    .publicidad__pub1{
        display: flex;
        justify-content: center;
        padding: 15px;
        color: forestgreen;
        font-size: 60px;
        font-style: italic;
        text-align: center;
    }
    .publicidad__pub2{
        display: flex;
        justify-content: center;
        padding: 15px;
        font-weight: bolder;
        font-size: 25px;
        text-align: center;
    }
    .publicidad__pub3{
        display: flex;
        justify-content: center;
        padding: 15px;
        font-size: 25px;
        color: brown;
        text-align: center;
    }
    .publicidad__pub4{
        display: flex;
        justify-content: center;
        padding: 15px;
        font-size: 25px;
        color: brown;
        text-align: center;
    }   
}
@media ($portatil-g){
    .publicidad{
        height: 500px;
    }
}
@media ($portatil-c){
    .publicidad{
        height: 370px;
        .publicidad__pub1{
            font-size: 40px;
            padding: 10px;
        }
        .publicidad__pub2{
            padding: 10px;
            font-size: 20px;
        }
        .publicidad__pub3{
            padding: 10px;
            font-size: 20px;
        }
        .publicidad__pub4{
            padding: 10px;
            font-size: 20px;
        }
    }   
}
@media ($cel-g){
    .publicidad__pub1{
        font-size: 50px;
        padding: 5px;
    }  
}
@media ($tablet){
    .publicidad{
        height: 390px;
        .publicidad__pub1{
            font-size: 45px;
        }
    }
}
