$colorPrincipal:rgb(195, 231, 219);
$color1: indigo;
$color2: coral;
$sombra: 15px 15px 15px black;
$cel-g: "max-width:425px";
$cel-m: "max-width:375px";
$cel-c: "max-width:320px";
$tablet: "max-width:768px";
$portatil-c: "max-width:1000px";
$portatil-g: "max-width:1400px";