@import "variables";
@import "reset";
@import "fuentes";

/*__________INICIO__________*/

@import "grilla";
@import "navegador";
@import "logoanimado";
@import "principal";
@import "publicidad";
@import "sobrepie";
@import "pie";

/*__________SERVICIOS__________*/

@import "headerservicios";
@import "principalservicios";

/*__________PRODUCTOS__________*/



.listaProd{
    grid-column: 1/4;
    grid-row: 2/3;
    .productos{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 60px;
        .logoChico{
            width: 25%;
            height: 25%;
            box-shadow: 15px 15px 15px black;
        }
        .titProductos{
            font-size: 90px;
            font-weight: bolder;
            font-family: fredoka; color: $color1;
            padding: 10px;
            border: 18px solid;
            border-style: double;
            border-color: $color2;
            background-color: $colorPrincipal;
            border-radius: 28px;
            box-shadow: 15px 15px 15px black;
        }
        .prod{
            width: 20%;
            border: 3px solid;
            border-radius: 9px;
            border-color: darkgreen;
            font-family: fredoka;
            color: $color1;
            padding: 5px;
            background-color: $colorPrincipal;
            box-shadow: 15px 15px 15px black;  
        }
    }
}

.prod ol li{
    padding: 10px;
    margin-left: 36px;
}
.prod > fieldset > ol > li >a{
    text-decoration: none;
    list-style-type: none;
}
.fotosProd{
    grid-column: 1/4;
    grid-row: 3/4;
}
.tarjProductos{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px;
    border: 3px solid;
    border-radius: 20px;
    border-color: darkgreen;
    padding: 10px;
    background-color: $colorPrincipal;
    box-shadow: 15px 15px 15px black;
    transition: 2s;
}
.tarjProductos__1{
    background-image: url(../img/kit-alarma-residencial-dos-sensores-infrarrojo-y-un-magnetico-kit-alarma-residencial-dos-sensores-infrarrojo-y-un-magnetico.jpg);
    transition: 2s;
}
.tarjProductos__2{
    background-image: url(../img/Cerca\ Elétrica\ Intelbras\ 5002\ 100\ Mts\ Cabo\ Aço\ E\ Haste\ 1\,20.jpg);
    transition: 2s;
}
.tarjProductos__3{
    background-image: url(../img/Marcelo\ Pereto\ on\ Twitter.jpg);
    transition: 2s;
}
.tarjProductos__4{
    background-image: url(../img/Best\ UPS\ for\ Wi-fi\ Router.jpg);
    transition: 2s;
}
.tarjProductos__5{
    background-image: url(../img/Nvr\ Ip\ Hikvision\ 16\ Canais\ 4k\ Ds-7616ni-k2\ Sem\ Poe.jpg);
    transition: 2s;
}
.tarjProductos__6{
    background-image: url(../img/All\ You\ Need\ to\ Know\ to\ Buy\ a\ Security\ Camera\ System.png);
    transition: 2s;
}
.tarjProductos__7{
    background-image: url(../img/Kanlux\ 460\ Aler\ Jq-30-w\ Bewegungsmelder.jpg);
    transition: 2s;
}
.tarjProductos div{
    background-blend-mode:lighten;
    border-radius: 15px;
    color: rgb(115, 15, 187);
    font-family: fredoka;
    font-weight: bolder;
    text-shadow: 2px 2px white;
    padding: 10px;
    width: 13%;
    height: 160px;
    background-size: 100%;
    overflow: hidden;
}
.tarjProductos__1:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__2:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__3:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__4:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__5:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__6:hover{
    transform: rotateY(360deg);   
}
.tarjProductos__7:hover{
    transform: rotateY(360deg);   
}
.busqueda{
    grid-column: 1/4;
    grid-row: 4/5;
}
.busqProductos{
    font-family: fredoka;
    padding: 20px;
    margin-left: 20px;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
    color: $color2;
    background-color: $colorPrincipal;
    border-radius: 20px;
    width: 30%;
    box-shadow: 15px 15px 15px black;
}
.specProductos ul{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.specProductos > ul > li{
    list-style: none;
}
.specProductos > ul > li > button{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-family: fredoka;
    width: 300px;
    border-radius: 15px;
    border: 3px solid;
    border-color: darkgreen;
    color: $color1;
    background-color: $colorPrincipal;
    box-shadow: 15px 15px 15px black;
}
.buscarProductos{
    font-size: 30px;
    font-style: oblique;
    font-weight: bolder;
    font-family: fredoka;
    width: 20%;
    padding: 15px;
    margin: 5%;
    border: 10px solid $color2;
    border-radius: 20px;
    background-color: $colorPrincipal;
    color: darkred;
    box-shadow: 15px 15px 15px black;
    text-shadow: 1px 1px 1px black;
}
.buscarProductos:hover{
    transform: rotateY(60deg);
    transform: scale(1.25, 1);
    text-shadow: 3px 3px white;
    background-color: rgb(87, 235, 185);
    color: red;
}