@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fredoka;
  src: url(../fonts/FredokaOne-Regular.ttf);
}
/*__________INICIO__________*/
.grillaPrincipal {
  background-color: rgb(189, 184, 183);
  background-image: url(../img/Abstract\ Cogs\ Eye\ Future\ Circuit\ Technology\ Security\ System\ Background\,\ Vector\ Illustration_\ Stock\ Vector\ -\ Illustration\ of\ background\,\ engineering_\ 194944347.png);
  background-size: contain;
  background-blend-mode: lighten;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 280px 440px 400px 600px 200px 100px;
  gap: 0px 15px;
}
.grillaPrincipal .tituloPrincipal {
  display: none;
  z-index: 1;
  font-family: fredoka;
  font-size: 20px;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: start;
  padding: 10px;
}

@media (max-width:1400px) {
  .grillaPrincipal {
    display: grid;
    grid-template-rows: 250px 440px 400px 700px 200px 100px;
    align-content: center;
  }
}
@media (max-width:1000px) {
  .grillaPrincipal {
    display: grid;
    grid-template-rows: 250px auto auto 700px auto auto;
    align-content: center;
  }
}
@media (max-width:425px) {
  .grillaPrincipal .tituloPrincipal {
    display: block;
    text-align: center;
    font-size: 45px;
    z-index: 2;
  }
}
@media (max-width:375px) {
  .grillaPrincipal .tituloPrincipal {
    font-size: 45px;
  }
}
@media (max-width:320px) {
  .tituloPrincipal {
    font-size: 30px;
  }
}
.navIni .navegadorEnlaces > ul > li {
  border: 3px solid;
  border-radius: 7px;
  border-color: indigo;
  background-color: coral;
  margin: 0px 10px;
}

.navIni {
  grid-column: 1/4;
  grid-row: 1/2;
  justify-items: center;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(180deg, aquamarine, transparent);
}
.navIni .botonesInicio {
  grid-column: 1/2;
  grid-row: 1/2;
}
.navIni .botonesInicio > button {
  margin: 15px 10px;
  padding: 2px;
  border: 3px solid;
  border-radius: 7px;
}
.navIni .botonesInicio > button:hover {
  transform: scale(1.25);
  box-shadow: 4px 4px 8px;
}
.navIni .botonesInicio > button > a {
  text-decoration: none;
  font-size: 25px;
  font-family: fredoka;
}
.navIni .navegadorEnlaces .fa-bars {
  font-size: 30px;
  font-weight: bolder;
  font-size: 50px;
  margin: 10px;
}
.navIni .navegadorEnlaces label, .navIni .navegadorEnlaces input {
  display: none;
}
.navIni .navegadorEnlaces > ul {
  display: flex;
  list-style-type: none;
  margin: 15px;
}
.navIni .navegadorEnlaces > ul > li:hover {
  transform: scale(1.25);
  box-shadow: 4px 4px 8px;
}
.navIni .navegadorEnlaces > ul > li > a {
  text-decoration: none;
  padding: 10px;
  font-size: 25px;
  font-family: fredoka;
}
.navIni .visitenos {
  grid-column: 3/4;
  grid-row: 1/2;
}
.navIni .visitenos > h3 {
  margin: 15px;
  font-size: 25px;
  font-family: fredoka;
  color: indigo;
}
.navIni .visitenos > img {
  width: 50%;
  padding: 15px;
  margin: 0px auto;
  justify-self: center;
}

@media (max-width:1400px) {
  .navIni {
    width: 100%;
  }
  .navIni .botonesInicio {
    position: absolute;
    top: 50px;
    z-index: 3;
  }
  .navIni .botonesInicio > button {
    margin: 15px;
    padding: 5px;
    border-radius: 7px;
  }
  .navIni .botonesInicio > button:hover {
    transform: scale(1.25);
    box-shadow: 4px 4px 8px;
  }
  .navIni .botonesInicio > button > a {
    text-decoration: none;
    font-size: 20px;
    font-family: fredoka;
  }
  .navIni .navegadorEnlaces {
    position: absolute;
  }
  .navIni .navegadorEnlaces > ul > li {
    border: 2px solid;
  }
  .navIni .navegadorEnlaces > ul > li > a {
    margin: 2px;
    font-size: 20px;
  }
  .navIni .visitenos {
    position: relative;
    top: 14px;
    right: -70%;
  }
  .navIni .visitenos > h3 {
    font-size: 20px;
    margin: 5px;
  }
}
@media (max-width:1000px) {
  .navIni .visitenos {
    display: none;
  }
}
@media (max-width:768px) {
  .navIni {
    grid-column: 1/4;
    justify-content: end;
    width: 768px;
  }
  .navIni .navegadorEnlaces {
    z-index: 3;
  }
  .navIni .navegadorEnlaces > input:checked + ul {
    max-height: 350px;
  }
  .navIni .navegadorEnlaces ul {
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
  }
  .navIni .navegadorEnlaces label {
    justify-content: end;
    text-align: end;
    z-index: 2;
    font-weight: bolder;
    display: block;
  }
  .navIni .navegadorEnlaces label:hover + ul {
    z-index: 1;
    position: absolute;
    right: 0px;
    background-color: aquamarine;
    transition: 1s;
  }
  .navIni .navegadorEnlaces > ul > li {
    margin: 10px 0px;
    padding: 1px;
  }
  .navIni .navegadorEnlaces > ul > li > a {
    font-size: 30px;
  }
  .navIni .botonesInicio {
    display: flex;
    margin: 15px auto;
    top: 413px;
    left: 200px;
  }
  .navIni .botonesInicio > button {
    margin: 10px 30px;
  }
  .navIni .botonesInicio > button > a {
    font-size: 30px;
  }
  .navIni .visitenos {
    display: none;
  }
}
@media (max-width:425px) {
  label {
    z-index: 2;
  }
}
.logoInicio {
  grid-column: 1/4;
  grid-row: 2/3;
  justify-items: center;
  margin: 0px auto;
  position: relative;
}
.logoInicio > img {
  height: 90%;
  box-shadow: 15px 15px 15px black;
  border-radius: 20px;
  animation-name: movlogo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
@media (max-width:1000px) {
  .logoInicio > img {
    height: 50%;
  }
}
@keyframes movlogo {
  0% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
    opacity: 20%;
  }
  50% {
    transform: scale(1.05);
    opacity: 100%;
  }
  60% {
    transform: scale(1.05);
    opacity: 100%;
  }
  75% {
    transform: scale(1);
    opacity: 20%;
  }
  100% {
    transform: scale(1.05);
  }
}
@media (max-width:768px) {
  .logoInicio > img {
    animation: none;
    height: 60%;
    margin: auto;
    width: auto;
    box-shadow: 15px 15px 15px black;
    border-radius: 20px;
    transform: translateY(-150px);
  }
}
@media (max-width:425px) {
  .logoInicio .logoInicio > img {
    z-index: 1;
    height: 40%;
    margin: auto;
    width: auto;
  }
}

.principal {
  grid-column: 1/4;
  grid-row: 3/4;
}
.principal .fotosSeguridad {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.principal .fotosSeguridad > img {
  width: 20%;
  box-shadow: 15px 15px 15px black;
}
@media (max-width:1000px) {
  .principal .fotosSeguridad {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .principal .fotosSeguridad > img {
    width: 30%;
    box-shadow: 15px 15px 15px black;
  }
}
@media (max-width:768px) {
  .principal .fotosSeguridad {
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .principal .fotosSeguridad > img {
    width: 50%;
    box-shadow: 15px 15px 15px black;
    margin-bottom: 25px;
  }
}

.publicidad {
  height: 90%;
  font-family: fredoka;
  background-image: radial-gradient(aquamarine 60%, rgb(13, 156, 156));
  display: flex;
  flex-direction: column;
  border: 16px solid;
  border-color: indigo;
  border-radius: 1000px;
  padding: 25px;
  background-color: aquamarine;
  margin: 60px 10px 80px;
  justify-content: center;
  align-items: center;
}
.publicidad .publicidad__pub1 {
  display: flex;
  justify-content: center;
  padding: 15px;
  color: forestgreen;
  font-size: 60px;
  font-style: italic;
  text-align: center;
}
.publicidad .publicidad__pub2 {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
.publicidad .publicidad__pub3 {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 25px;
  color: brown;
  text-align: center;
}
.publicidad .publicidad__pub4 {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 25px;
  color: brown;
  text-align: center;
}
@media (max-width:1000px) {
  .publicidad .publicidad__pub1 {
    font-size: 40px;
    padding: 10px;
  }
  .publicidad .publicidad__pub2 {
    padding: 10px;
    font-size: 20px;
  }
  .publicidad .publicidad__pub3 {
    padding: 10px;
    font-size: 20px;
  }
  .publicidad .publicidad__pub4 {
    padding: 10px;
    font-size: 20px;
  }
}
@media (max-width:425px) {
  .publicidad .publicidad__pub1 {
    font-size: 34px;
    padding: 5px;
  }
}

.sobrePie {
  grid-column: 1/4;
  grid-row: 5/6;
}
.sobrePie .upperFoot {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid;
  padding: 5px;
  font-size: 20px;
}
.sobrePie .upperFoot .sobrePie1 {
  padding: 6px;
}
.sobrePie .upperFoot .sobrePie2 {
  padding: 6px;
  color: indigo;
  font-weight: bold;
  text-shadow: 3px 3px 1px white;
}
.sobrePie .upperFoot .sobrePie3 {
  padding: 6px;
}

@media (max-width:425px) {
  .sobrePie .upperFoot {
    background-color: rgb(255, 255, 255);
    font-size: 30px;
  }
}
footer {
  grid-column: 1/4;
  grid-row: 6/7;
}
footer .pie {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 40px 0px 20px;
  background-color: lavender;
  border-radius: 10px;
}
footer .pie .pie__0 {
  font-style: oblique;
  font-weight: bolder;
}
footer .pie .pie__1 {
  font-size: 10px;
  font-weight: bold;
}
footer .pie .pie__2 {
  font-style: italic;
  color: indigo;
}

@media (max-width:425px) {
  footer {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  footer .pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px;
    margin: 40px 0px 20px;
    background-color: lavender;
    border-radius: 10px;
  }
  footer .pie .pie__0 {
    font-style: oblique;
    font-weight: bolder;
    font-size: 25px;
  }
  footer .pie .pie__1 {
    font-size: 20px;
    font-weight: bold;
  }
  footer .pie .pie__2 {
    font-style: italic;
    color: indigo;
    font-size: 22px;
  }
}
/*__________SERVICIOS__________*/
.headServicios {
  grid-column: 1/4;
  grid-row: 2/3;
}
.headServicios .servicios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 60px;
}
.headServicios .servicios .logoChico {
  width: 25%;
  height: 25%;
  box-shadow: 15px 15px 15px black;
}
.headServicios .servicios .titServicios {
  font-size: 90px;
  font-weight: bolder;
  font-family: fredoka;
  color: indigo;
  padding: 10px;
  border: 18px solid;
  border-style: double;
  border-color: coral;
  background-color: rgb(195, 231, 219);
  border-radius: 28px;
  box-shadow: 15px 15px 15px black;
}
@media (max-width:1400px) {
  .headServicios .servicios .titServicios {
    font-size: 50px;
  }
}
.headServicios .servicios .chat {
  display: block;
  border: 3px solid;
  border-radius: 9px;
  border-color: darkgreen;
  font-family: fredoka;
  color: indigo;
  padding: 5px;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
}
.headServicios .servicios .chat fieldset {
  height: 100%;
}
.headServicios .servicios .chat fieldset > textarea {
  width: 100%;
}
.headServicios .servicios .chat fieldset > input {
  padding: 10px;
}
.headServicios .servicios .chat fieldset > a > button {
  padding: 10px;
  font-family: fredoka;
  font-weight: bolder;
  color: indigo;
  border-radius: 5px;
  background-color: rgb(195, 231, 219);
}

@media (max-width:1000px) {
  .headServicios {
    flex-wrap: wrap;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .headServicios .servicios {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }
  .headServicios .servicios .logoChico {
    width: 50%;
    transform: translateY(-170px);
  }
}
@media (max-width:1000px) and (max-width:425px) {
  .headServicios .servicios .titServicios {
    font-size: 90px;
    color: indigo;
    margin-bottom: 30px;
  }
  .headServicios .servicios .chat {
    font-size: 35px;
  }
  .headServicios .servicios .chat > fieldset > input {
    font-size: 25px;
  }
  .headServicios .servicios .chat > fieldset > a > button {
    font-size: 35px;
  }
}
.serPri {
  grid-column: 1/4;
  grid-row: 3/4;
}
.serPri .serviciosPrincipal {
  display: flex;
  justify-content: space-evenly;
}
.serPri .serviciosPrincipal .listServicios > li {
  margin: 40px;
  width: 85%;
  border-radius: 16px;
  box-shadow: 15px 15px 15px black;
  list-style: none;
  padding: 20px;
  font-family: fredoka;
  font-size: 40px;
  color: indigo;
  background-color: rgb(195, 231, 219);
  border-radius: 16px;
}
.serPri .serviciosPrincipal .imgServicios > img {
  width: 40%;
  padding: 15px;
  margin-left: 4%;
  border: 14px solid;
  border-radius: 10px;
  border-color: coral;
  border-style: double;
  box-shadow: 15px 15px 15px black;
  transition: 2s;
}
.serPri .serviciosPrincipal .imgServicios > img:hover {
  transform: scale(2);
}
.serPri .serviciosPrincipal .descServicios {
  padding: 20px;
  width: 100%;
  height: min-content;
  margin-right: 3%;
  font-family: fredoka;
  font-size: 33px;
  color: indigo;
  background-color: rgb(195, 231, 219);
  border-radius: 16px;
  box-shadow: 15px 15px 15px black;
}

@media (max-width:1000px) {
  .serPri {
    grid-column: 1/4;
    grid-row: 3/4;
    flex-wrap: wrap;
  }
  .serPri .serviciosPrincipal {
    flex-direction: column;
  }
  .serPri .serviciosPrincipal .listServicios {
    margin-bottom: 50px;
  }
  .serPri .serviciosPrincipal .listServicios > li {
    text-align: center;
    margin: 20px auto;
    width: min-content;
    border-radius: 16px;
    box-shadow: 15px 15px 15px black;
    list-style: none;
    padding: 20px;
    font-family: fredoka;
    font-size: 30px;
    color: indigo;
    background-color: rgb(195, 231, 219);
    border-radius: 16px;
  }
  .serPri .serviciosPrincipal .imgServicios {
    justify-items: center;
  }
  .serPri .serviciosPrincipal .imgServicios > img {
    width: 30%;
    margin: 1%;
    padding: 5px;
    border: 14px solid;
    border-radius: 10px;
    border-color: coral;
    border-style: double;
    box-shadow: 15px 15px 15px black;
    transition: 2s;
  }
  .serPri .serviciosPrincipal .imgServicios > img:hover {
    transform: scale(2.5);
  }
  .serPri .serviciosPrincipal .descServicios {
    text-align: center;
    margin: 0%;
  }
}
/*__________PRODUCTOS__________*/
.headProd {
  grid-column: 1/4;
  grid-row: 2/3;
}
.headProd .productos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 60px;
}
.headProd .productos .logoChico {
  width: 25%;
  height: 25%;
  box-shadow: 15px 15px 15px black;
}
.headProd .productos .titProductos {
  font-size: 90px;
  font-weight: bolder;
  font-family: fredoka;
  color: indigo;
  padding: 10px;
  border: 18px solid;
  border-style: double;
  border-color: coral;
  background-color: rgb(195, 231, 219);
  border-radius: 28px;
  box-shadow: 15px 15px 15px black;
}
@media (max-width:1400px) {
  .headProd .productos .titProductos {
    font-size: 50px;
  }
}
.headProd .productos .prod {
  width: 20%;
  border: 3px solid;
  border-radius: 9px;
  border-color: darkgreen;
  font-family: fredoka;
  color: indigo;
  padding: 5px;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
}
.headProd .productos .prod > fieldset > ol > li {
  padding: 10px;
  margin-left: 36px;
}
.headProd .productos .prod > fieldset > ol > li > a {
  text-decoration: none;
  list-style-type: none;
}
.headProd .productos .prod > fieldset > ol > li > a:hover {
  color: black;
  font-style: oblique;
}

@media (max-width:1000px) {
  .headProd {
    flex-wrap: wrap;
    grid-column: 1/4;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .headProd .productos {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }
  .headProd .productos .logoChico {
    width: 100%;
    transform: translateY(-170px);
  }
  .headProd .prod {
    width: 100% !important;
    margin: 0px;
    border: 3px solid;
    border-radius: 9px;
    border-color: darkgreen;
    font-family: fredoka;
    color: indigo;
    padding: 5px;
    background-color: rgb(195, 231, 219);
    box-shadow: 15px 15px 15px black;
  }
  .headProd .prod > fieldset {
    width: 100%;
  }
  .headProd .prod > fieldset > ol > li {
    padding: 10px;
    margin-left: 36px;
  }
  .headProd .prod > fieldset > ol > li > a {
    text-decoration: none;
    list-style-type: none;
  }
  .headProd .prod > fieldset > ol > li > a:hover {
    color: black;
    font-style: oblique;
  }
}
.fotosProd {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-top: 50px;
}
.fotosProd .tarjProductos {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 20px;
  border: 3px solid;
  border-radius: 20px;
  border-color: darkgreen;
  padding: 10px;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
  transition: 2s;
}
.fotosProd .tarjProductos .tarjProductos__1 {
  background-image: url(../img/kit-alarma-residencial-dos-sensores-infrarrojo-y-un-magnetico-kit-alarma-residencial-dos-sensores-infrarrojo-y-un-magnetico.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__1:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__2 {
  background-image: url(../img/Cerca\ Elétrica\ Intelbras\ 5002\ 100\ Mts\ Cabo\ Aço\ E\ Haste\ 1\,20.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__2:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__3 {
  background-image: url(../img/Marcelo\ Pereto\ on\ Twitter.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__3:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__4 {
  background-image: url(../img/Best\ UPS\ for\ Wi-fi\ Router.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__4:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__5 {
  background-image: url(../img/Nvr\ Ip\ Hikvision\ 16\ Canais\ 4k\ Ds-7616ni-k2\ Sem\ Poe.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__5:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__6 {
  background-image: url(../img/All\ You\ Need\ to\ Know\ to\ Buy\ a\ Security\ Camera\ System.png);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__6:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos .tarjProductos__7 {
  background-image: url(../img/Kanlux\ 460\ Aler\ Jq-30-w\ Bewegungsmelder.jpg);
  transition: 0.5s;
}
.fotosProd .tarjProductos .tarjProductos__7:hover {
  transform: scale(0.98);
  border: 2px solid;
}
.fotosProd .tarjProductos div {
  background-blend-mode: lighten;
  border-radius: 15px;
  color: rgb(115, 15, 187);
  font-family: fredoka;
  font-weight: bolder;
  text-shadow: 2px 2px white;
  padding: 10px;
  width: 13%;
  height: 160px;
  background-size: 100%;
  overflow: hidden;
}

@media (max-width:768px) {
  .fotosProd {
    grid-column: 1/4;
    grid-row: 3/4;
    margin-top: 50px;
    width: 80%;
  }
  .fotosProd .tarjProductos {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 20px;
    border: 3px solid;
    border-radius: 20px;
    border-color: darkgreen;
    padding: 10px;
    background-color: rgb(195, 231, 219);
    box-shadow: 15px 15px 15px black;
    transition: 2s;
  }
  .fotosProd .tarjProductos div {
    background-blend-mode: lighten;
    border-radius: 15px;
    color: rgb(115, 15, 187);
    font-family: fredoka;
    font-weight: bolder;
    text-shadow: 2px 2px white;
    padding: 10px;
    width: 80%;
    height: 160px;
    background-size: 100%;
    overflow: hidden;
  }
}
.busqueda {
  grid-column: 1/4;
  grid-row: 4/5;
}
.busqueda .busqProductos {
  font-family: fredoka;
  padding: 20px;
  margin-left: 20px;
  font-size: 40px;
  text-shadow: 15px 15px 15px black;
  color: coral;
  background-color: rgb(195, 231, 219);
  border-radius: 20px;
  width: max-content;
  box-shadow: 15px 15px 15px black;
}
.busqueda .specProductos ul {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.busqueda .specProductos ul > li {
  list-style: none;
}
.busqueda .specProductos ul > li > button {
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  font-family: fredoka;
  width: max-content;
  border-radius: 15px;
  border: 3px solid;
  border-color: darkgreen;
  color: indigo;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
}
.busqueda .buscarProductos {
  font-size: 30px;
  font-style: oblique;
  font-weight: bolder;
  font-family: fredoka;
  width: 20%;
  padding: 15px;
  margin: 5%;
  border: 10px solid coral;
  border-radius: 20px;
  background-color: rgb(195, 231, 219);
  color: darkred;
  box-shadow: 15px 15px 15px black;
  text-shadow: 1px 1px 1px black;
}
.busqueda .buscarProductos:hover {
  transform: rotateY(60deg);
  transform: scale(1.25, 1);
  text-shadow: 3px 3px white;
  background-color: rgb(87, 235, 185);
  color: red;
}

@media (max-width:768px) {
  .busqueda {
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 4/5;
    flex-wrap: wrap;
  }
  .busqueda .busqProductos {
    font-family: fredoka;
    padding: 20px;
    margin-left: 20px;
    font-size: 50px;
  }
  .busqueda .specProductos ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: auto;
  }
  .busqueda .specProductos ul > li {
    list-style: none;
    margin: 0px 30px;
  }
  .busqueda .specProductos ul > li > button {
    padding: 10px;
    font-size: 30px;
  }
  .busqueda .buscarProductos {
    font-size: 40px;
    font-style: oblique;
    font-weight: bolder;
    font-family: fredoka;
    width: 40%;
    padding: 15px;
    margin: 6%;
  }
}
/*__________DESTACADOS__________*/
.headDestacados {
  grid-column: 1/4;
  grid-row: 2/3;
}
.headDestacados .destacados {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 60px;
}
.headDestacados .destacados .logoChico {
  width: 25%;
  height: 25%;
  box-shadow: 15px 15px 15px black;
}
.headDestacados .destacados .titDestacados {
  font-size: 90px;
  font-weight: bolder;
  font-family: fredoka;
  color: indigo;
  padding: 10px;
  border: 18px solid;
  border-style: double;
  border-color: coral;
  background-color: rgb(195, 231, 219);
  border-radius: 28px;
  box-shadow: 15px 15px 15px black;
}
.headDestacados .destacados .ingCliente > form {
  font-family: fredoka;
  color: coral;
  width: 400px;
  border: 6px solid;
  border-radius: 16px;
  background-color: rgb(195, 231, 219);
  padding: 10px;
}
.headDestacados .destacados .ingCliente > form legend {
  color: indigo;
}
.headDestacados .destacados .ingCliente > form label {
  padding: 20px;
}
.headDestacados .destacados .ingCliente > form label .ingreso {
  font-family: fredoka;
  color: indigo;
  padding: 9px;
}
.headDestacados .destacados .ingCliente > form label .ingreso:hover {
  padding: 8px;
  border: 3px solid;
  border-radius: 10px;
}

.canalNovedades {
  grid-column: 1/4;
  grid-row: 3/4;
}
.canalNovedades .canal {
  text-align: center;
  margin-bottom: 30px;
  font-family: fredoka;
  color: indigo;
  font-size: 40px;
}
.canalNovedades .canal__video {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 10px 20px;
  border: 3px solid;
  border-radius: 20px;
  border-color: darkgreen;
  padding: 10px;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
  transition: 2s;
}
.canalNovedades .canal__video .canal__video__parr {
  width: 20%;
  font-family: fredoka;
  font-size: 25px;
}
.canalNovedades .canal__video .canal__video__res {
  width: 1fr;
}
.canalNovedades .canal__video .canal__video__res .canal__video__res__enl {
  font-size: 25px;
  list-style: none;
}
.canalNovedades .canal__video .canal__video__res .canal__video__res__enl > li {
  margin: 10px;
}
.canalNovedades .canal__video .canal__video__res .canal__video__res__enl > li > a {
  text-decoration: none;
  font-family: fredoka;
}
.canalNovedades .canal__video .canal__video__vid {
  height: 1fr;
  width: auto;
}

/*__________CONTACTO__________*/
.headContacto {
  grid-column: 1/4;
  grid-row: 2/3;
}
.headContacto .contacto {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 60px;
}
.headContacto .contacto .logoChico {
  width: 25%;
  height: 25%;
  box-shadow: 15px 15px 15px black;
}
.headContacto .contacto .titContacto {
  font-size: 90px;
  font-weight: bolder;
  font-family: fredoka;
  color: indigo;
  padding: 10px;
  border: 18px solid;
  border-style: double;
  border-color: coral;
  background-color: rgb(195, 231, 219);
  border-radius: 28px;
  box-shadow: 15px 15px 15px black;
}
.headContacto .contacto .mapa {
  border: 3px solid;
  border-radius: 9px;
  border-color: darkgreen;
  font-family: fredoka;
  color: indigo;
  padding: 5px;
  background-color: rgb(195, 231, 219);
  box-shadow: 15px 15px 15px black;
}

.principalContacto {
  grid-column: 1/4;
  grid-row: 3/4;
}
.principalContacto .formRegistro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.principalContacto .formRegistro .registrese {
  padding: 25px;
  margin: 40px 0px;
  font-family: fredoka;
  font-size: 50px;
  color: indigo;
}
.principalContacto .formRegistro > form {
  font-family: fredoka;
  color: coral;
  width: 400px;
  border: 6px solid;
  border-radius: 16px;
  background-color: rgb(195, 231, 219);
  padding: 10px;
  box-shadow: 15px 15px 15px black;
}
.principalContacto .formRegistro > form > label {
  padding: 20px;
}
.principalContacto .formRegistro > form > legend {
  color: indigo;
}
.principalContacto .formRegistro > form .resEnv {
  padding: 6px;
  font-size: 16px;
  font-weight: bolder;
  font-style: oblique;
  color: brown;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px;
}
.principalContacto .formRegistro form {
  padding: 6px;
}